In [1]:
import pickle 
import pandas as pd
import itertools
import tqdm as tq
import Name_resolver 
import numpy as np

In [2]:
genes_pd = pickle.load(open('/data/passala/Generated_Tables/Comparing_all_go_groups_across_species/OrthoDB_python_files/orthodb_v11_genes.p','rb'))
og2genes_pd = pd.read_csv('/data/passala/OrthoDB_data/embryophyta_groups.csv',names = ['Orthogroup','Gene','Species'])

In [3]:
og2genes_pd['Ortholevel'] = og2genes_pd['Orthogroup'].str.split('t').str[1]

In [4]:
species_with_nets = pd.read_csv('/data/passala/Generated_Tables/Reference_tables/Species_name_resolver.csv')
species_with_nets = species_with_nets[:18]
# # species_with_nets = species_with_nets.drop(index = [13,14])
# # species_with_nets.loc[0,'Taxa ID'] = 39947 
taxa_to_keep = species_with_nets['Taxa ID'].to_list()

In [5]:
taxa_to_keep.append('3694')

In [6]:
og2genes_only_cococonet = og2genes_pd.loc[og2genes_pd['Species'].isin(taxa_to_keep)]

In [7]:
groups_present = og2genes_only_cococonet['Species'].unique()

In [42]:
species_to_run_on = species_with_nets['Taxa ID'].loc[species_with_nets['Taxa ID'].isin(groups_present)].to_list()

In [43]:
species_to_run_on.append(3694)

In [44]:
species_combinations = list(itertools.combinations(species_to_run_on,2))

In [10]:
ncbi_mapping = pd.read_csv('/data/passala/OrthoDB_data/NCBI_data/merged_ncbi_to_orthodb_fixed_non_genesymbol_updated_poplar.csv')

In [11]:
ncbi_mapping

,Orthogroup,Gene,Species,Ortholevel,Orthodb Gene,Symbol
0,67026at3193,15368_0:000000,15368,3193.0,15368_0:000000,LOC100829170
1,7376at3193,15368_0:000001,15368,3193.0,15368_0:000001,LOC100840094
2,325723at3193,15368_0:000002,15368,3193.0,15368_0:000002,LOC100841678
3,117946at3193,15368_0:000003,15368,3193.0,15368_0:000003,LOC100844153
4,658893at3193,15368_0:000004,15368,3193.0,15368_0:000004,LOC100841477
...,...,...,...,...,...,...
615300,68168at3193,4577_0:0085a4,4577,3193.0,4577_0:0085a4,ZemaCp159
615301,868182at3193,4577_0:0085a5,4577,3193.0,4577_0:0085a5,rps19
615302,125785at3193,4577_0:0085a6,4577,3193.0,4577_0:0085a6,ZemaCp081
615303,866429at3193,4577_0:0085a7,4577,3193.0,4577_0:0085a7,petD
615304,NaN,NaN,4577,NaN,4577_0:0085a8,ZemaCp095

In [12]:
ncbi_mapping.value_counts('Species')

Species
3708     71919
3818     65719
4097     61660
3847     45224
3711     40924
3750     33120
4577     32492
3880     29186
3694     28497
4113     28350
4558     28179
39947    27591
3702     27377
15368    25478
4081     24196
29760    23784
3659     19997
4565      1612
dtype: int64

In [21]:
#og2genes_only_cococonet = og2genes_only_cococonet.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on='Gene')

In [13]:
og2genes_only_cococonet = ncbi_mapping

In [14]:
og2genes_only_cococonet

,Orthogroup,Gene,Species,Ortholevel,Orthodb Gene,Symbol
0,67026at3193,15368_0:000000,15368,3193.0,15368_0:000000,LOC100829170
1,7376at3193,15368_0:000001,15368,3193.0,15368_0:000001,LOC100840094
2,325723at3193,15368_0:000002,15368,3193.0,15368_0:000002,LOC100841678
3,117946at3193,15368_0:000003,15368,3193.0,15368_0:000003,LOC100844153
4,658893at3193,15368_0:000004,15368,3193.0,15368_0:000004,LOC100841477
...,...,...,...,...,...,...
615300,68168at3193,4577_0:0085a4,4577,3193.0,4577_0:0085a4,ZemaCp159
615301,868182at3193,4577_0:0085a5,4577,3193.0,4577_0:0085a5,rps19
615302,125785at3193,4577_0:0085a6,4577,3193.0,4577_0:0085a6,ZemaCp081
615303,866429at3193,4577_0:0085a7,4577,3193.0,4577_0:0085a7,petD
615304,NaN,NaN,4577,NaN,4577_0:0085a8,ZemaCp095

In [15]:
og2genes_only_cococonet.to_csv('/data/passala/OrthoDB_data/NCBI_data/og_2_Genes_with_network_id_modded_proably_redudant.csv',index = False)

In [24]:
species_combinations[0][0]

39947

In [49]:
only_poplar_or_rapeseed = [t for t in species_combinations if any(x in t for x in [3694, 3708])]

In [50]:
only_poplar_or_rapeseed

[(39947, 3708),
 (39947, 3694),
 (3750, 3708),
 (3750, 3694),
 (4558, 3708),
 (4558, 3694),
 (4577, 3708),
 (4577, 3694),
 (29760, 3708),
 (29760, 3694),
 (3711, 3708),
 (3711, 3694),
 (3847, 3708),
 (3847, 3694),
 (3880, 3708),
 (3880, 3694),
 (4097, 3708),
 (4097, 3694),
 (4113, 3708),
 (4113, 3694),
 (4081, 3708),
 (4081, 3694),
 (3702, 3708),
 (3702, 3694),
 (3818, 3708),
 (3818, 3694),
 (4565, 3708),
 (4565, 3694),
 (3659, 3708),
 (3659, 3694),
 (3708, 15368),
 (3708, 3694),
 (15368, 3694)]

In [ ]:
for combo in tq.tqdm(species_combinations,desc='outer',position = 0):
    species_1,species_2 = combo[0],combo[1]

    species_1_name = Name_resolver.species_name_resolver(species_1,desired_type='common')
    species_2_name = Name_resolver.species_name_resolver(species_2,desired_type='common')

    first_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_1]
    second_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_2]
    shared_orthogroups = np.intersect1d(first_species_ortho_groups['Orthogroup'].unique(),second_species_ortho_groups['Orthogroup'].unique())

    list_of_orthogene_pds = []
    for orthogroup in tq.tqdm(shared_orthogroups,desc ='inner_loop',position= 0,leave = False):
        species_1_genes = first_species_ortho_groups['Gene'].loc[first_species_ortho_groups['Orthogroup']== orthogroup].to_list()
        species_2_genes = second_species_ortho_groups['Gene'].loc[second_species_ortho_groups['Orthogroup'] == orthogroup].to_list()
        all_gene_combos = list(itertools.product(species_1_genes,species_2_genes))
        current_orthogroup_pd = pd.DataFrame(columns = [f'{species_1_name} OrthoGene',f'{species_2_name} OrthoGene'],data = all_gene_combos)
        current_orthogroup_pd['Orthogroup'] = orthogroup
        list_of_orthogene_pds.append(current_orthogroup_pd)

    final_species_lineup = pd.concat(list_of_orthogene_pds)
    ncbi_added_once = final_species_lineup.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_1_name} OrthoGene')
    ncbi_added_once_clean= ncbi_added_once.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_1_name} Symbol'})
    ncbi_added_twice = ncbi_added_once_clean.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_2_name} OrthoGene')
    full_final = ncbi_added_twice.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_2_name} Symbol'})
    final_species_file_name = f"/home/passala/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/{species_1_name}_to_{species_2_name}_ortholog_NM.csv"
    full_final.to_csv(final_species_file_name, index=False)

In [53]:
species_1,species_2 = 3702,3708

species_1_name = Name_resolver.species_name_resolver(species_1,desired_type='common')
species_2_name = Name_resolver.species_name_resolver(species_2,desired_type='common')

first_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_1]
second_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_2]
shared_orthogroups = np.intersect1d(first_species_ortho_groups['Orthogroup'].unique().astype('str'),second_species_ortho_groups['Orthogroup'].unique().astype('str'))

list_of_orthogene_pds = []
for orthogroup in tq.tqdm(shared_orthogroups,desc ='inner_loop',position= 0,leave = False):
    species_1_genes = first_species_ortho_groups['Gene'].loc[first_species_ortho_groups['Orthogroup']== orthogroup].to_list()
    species_2_genes = second_species_ortho_groups['Gene'].loc[second_species_ortho_groups['Orthogroup'] == orthogroup].to_list()
    all_gene_combos = list(itertools.product(species_1_genes,species_2_genes))
    current_orthogroup_pd = pd.DataFrame(columns = [f'{species_1_name} OrthoGene',f'{species_2_name} OrthoGene'],data = all_gene_combos)
    current_orthogroup_pd['Orthogroup'] = orthogroup
    list_of_orthogene_pds.append(current_orthogroup_pd)

final_species_lineup = pd.concat(list_of_orthogene_pds)
ncbi_added_once = final_species_lineup.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_1_name} OrthoGene')
ncbi_added_once_clean= ncbi_added_once.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_1_name} Symbol'})
ncbi_added_twice = ncbi_added_once_clean.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_2_name} OrthoGene')
full_final = ncbi_added_twice.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_2_name} Symbol'})
final_species_file_name = f"/home/passala/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/{species_1_name}_to_{species_2_name}_ortholog_NM.csv"
full_final.to_csv(final_species_file_name, index=False)

In [54]:
for combo in tq.tqdm(only_poplar_or_rapeseed,desc='outer',position = 0):
    species_1,species_2 = combo[0],combo[1]

    species_1_name = Name_resolver.species_name_resolver(species_1,desired_type='common')
    species_2_name = Name_resolver.species_name_resolver(species_2,desired_type='common')

    first_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_1]
    second_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_2]
    shared_orthogroups = np.intersect1d(first_species_ortho_groups['Orthogroup'].unique().astype('str'),second_species_ortho_groups['Orthogroup'].unique().astype('str'))

    list_of_orthogene_pds = []
    for orthogroup in tq.tqdm(shared_orthogroups,desc ='inner_loop',position= 0,leave = False):
        species_1_genes = first_species_ortho_groups['Gene'].loc[first_species_ortho_groups['Orthogroup']== orthogroup].to_list()
        species_2_genes = second_species_ortho_groups['Gene'].loc[second_species_ortho_groups['Orthogroup'] == orthogroup].to_list()
        all_gene_combos = list(itertools.product(species_1_genes,species_2_genes))
        current_orthogroup_pd = pd.DataFrame(columns = [f'{species_1_name} OrthoGene',f'{species_2_name} OrthoGene'],data = all_gene_combos)
        current_orthogroup_pd['Orthogroup'] = orthogroup
        list_of_orthogene_pds.append(current_orthogroup_pd)

    final_species_lineup = pd.concat(list_of_orthogene_pds)
    ncbi_added_once = final_species_lineup.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_1_name} OrthoGene')
    ncbi_added_once_clean= ncbi_added_once.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_1_name} Symbol'})
    ncbi_added_twice = ncbi_added_once_clean.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_2_name} OrthoGene')
    full_final = ncbi_added_twice.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_2_name} Symbol'})
    final_species_file_name = f"/home/passala/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/{species_1_name}_to_{species_2_name}_ortholog_NM.csv"
    full_final.to_csv(final_species_file_name, index=False)

outer: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 33/33 [29:29<00:00, 53.62s/it]

In [ ]:
species_1,species_2 = 3694,3847

species_1_name = Name_resolver.species_name_resolver(species_1,desired_type='common')
species_2_name = Name_resolver.species_name_resolver(species_2,desired_type='common')

first_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_1]
second_species_ortho_groups = og2genes_only_cococonet.loc[og2genes_only_cococonet['Species'] == species_2]
shared_orthogroups = np.intersect1d(first_species_ortho_groups['Orthogroup'].unique().astype('str'),second_species_ortho_groups['Orthogroup'].unique().astype('str'))

list_of_orthogene_pds = []
for orthogroup in tq.tqdm(shared_orthogroups,desc ='inner_loop',position= 0,leave = False):
    species_1_genes = first_species_ortho_groups['Gene'].loc[first_species_ortho_groups['Orthogroup']== orthogroup].to_list()
    species_2_genes = second_species_ortho_groups['Gene'].loc[second_species_ortho_groups['Orthogroup'] == orthogroup].to_list()
    all_gene_combos = list(itertools.product(species_1_genes,species_2_genes))
    current_orthogroup_pd = pd.DataFrame(columns = [f'{species_1_name} OrthoGene',f'{species_2_name} OrthoGene'],data = all_gene_combos)
    current_orthogroup_pd['Orthogroup'] = orthogroup
    list_of_orthogene_pds.append(current_orthogroup_pd)

final_species_lineup = pd.concat(list_of_orthogene_pds)
ncbi_added_once = final_species_lineup.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_1_name} OrthoGene')
ncbi_added_once_clean= ncbi_added_once.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_1_name} Symbol'})
ncbi_added_twice = ncbi_added_once_clean.merge(right = ncbi_mapping[['Orthodb Gene','Symbol']], right_on = 'Orthodb Gene',left_on=f'{species_2_name} OrthoGene')
full_final = ncbi_added_twice.drop(columns = 'Orthodb Gene').rename(columns = {'Symbol':f'{species_2_name} Symbol'})
final_species_file_name = f"/home/passala/passala/OrthoDB_data/V_11_pairwise_maps_fixed_problem_species/{species_1_name}_to_{species_2_name}_ortholog_NM.csv"
full_final.to_csv(final_species_file_name, index=False)

In [ ]:
first_species_ortho_groups['Orthogroup'].unique()

In [ ]:
second_species_ortho_groups['Orthogroup'].unique()

In [ ]:
np.intersect1d(first_species_ortho_groups['Orthogroup'].unique(),second_species_ortho_groups['Orthogroup'].unique())